@import "tailwindcss";
@import "@catppuccin/tailwindcss/config.css";

@custom-variant dark (&:where(.dark, .dark *));

.lucide {
    display: inline;
}

@font-face {
    font-display: block;
    font-family: "Signika";
    src: url("assets/fonts/Signika-Light.woff2");
}

body {
    overflow: hidden;
    user-select: none;
    color: var(--color-ctp-text);
    font-family: Signika, sans-serif;
}
input {
    user-select: auto;
}

h1 {
    color: var(--color-ctp-mauve);
}
h2 {
    color: var(--color-ctp-mauve);
}

button {
    cursor: pointer;
}

.red-outline-btn {
    outline: solid 2px var(--color-ctp-red);
    border-radius: 4px;
    color: var(--color-ctp-red);
}
.red-outline-btn:hover {
    outline-color: var(--color-ctp-pink);
    color: var(--color-ctp-pink);
}

.anim-accuracy-tick {
    animation: accuracy-tick 3s ease-out forwards;
}
@keyframes accuracy-tick {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.cover {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.seek-bar-tick {
    position: absolute;
    width: 3px;
    height: 20px;
    border-radius: 999px;
    top: 50%;
    translate: -50% -50%;
}

.inspector-tick {
    position: absolute;
    width: 3px;
    border-radius: 999px;
    bottom: 0;
    translate: -50% 0;
}

.anim-praise {
    animation: anim-praise 1.2s ease-out forwards;
}
@keyframes anim-praise {
    0% {
        opacity: 0;
        font-size: 7vh;
    }
    4% {
        font-size: 5vh;
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        font-size: 5vh;
    }
}
.anim-combo {
    animation: anim-combo 1.2s ease-out forwards;
}
@keyframes anim-combo {
    0% {
        font-size: 6vh;
    }
    4% {
        font-size: 5vh;
    }
    100% {
        font-size: 5vh;
    }
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 99999px;
    background: var(--color-ctp-red);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--color-ctp-pink);
}

.light-text-outline {
    text-shadow: -1px -1px 0 var(--background), 1px -1px 0 var(--background), -1px 1px 0 var(--background), 1px 1px 0 var(--background);
}
