@import "tailwindcss";

:root {
    --foreground: #282a3a;
    --background: #f3f4f8;
    --color1: #ceb2dc;
    --color2: #c96b79;
    --error: #833642;

    --perfect: #99cfef;
    --good: #8eeba2;
    --miss: #e499a5;

    --easy: #8eeba2;
    --medium: #ebd28e;
    --hard: #833642;
    --fated: #9b74c0;
}

@theme inline {
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --color-color1: var(--color1);
    --color-color2: var(--color2);
    --color-error: var(--error);
    --color-perfect: var(--perfect);
    --color-good: var(--good);
    --color-easy: var(--easy);
    --color-medium: var(--medium);
    --color-hard: var(--hard);
    --color-fated: var(--fated);
}

.lucide {
    display: inline;
}

body {
    background-color: var(--background);
    overflow: hidden;
    user-select: none;
}
input {
    user-select: auto;
}

button {
    cursor: pointer;
}

.anim-accuracy-tick {
    animation: accuracy-tick 3s ease-out forwards;
}
@keyframes accuracy-tick {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.cover {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.seek-bar-tick {
    position: absolute;
    width: 3px;
    height: 20px;
    border-radius: 999px;
    top: 50%;
    translate: -50% -50%;
}

.inspector-tick {
    position: absolute;
    width: 3px;
    border-radius: 999px;
    bottom: 0;
    translate: -50% 0;
}

.anim-praise {
    animation: anim-praise 1.2s ease-out forwards;
}
@keyframes anim-praise {
    0% {
        opacity: 0;
        font-size: 7vh;
    }
    4% {
        font-size: 5vh;
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        font-size: 5vh;
    }
}
.anim-combo {
    animation: anim-combo 1.2s ease-out forwards;
}
@keyframes anim-combo {
    0% {
        font-size: 6vh;
    }
    4% {
        font-size: 5vh;
    }
    100% {
        font-size: 5vh;
    }
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 99999px;
    background: var(--color-foreground);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--color-color1);
}

.light-text-outline {
    text-shadow: -1px -1px 0 var(--background), 1px -1px 0 var(--background), -1px 1px 0 var(--background), 1px 1px 0 var(--background);
}
