@import "tailwindcss";

:root {
    --foreground: #282a3a;
    --background: #f3f4f8;
    --color1: #ceb2dc;
    --color2: #c96b79;
    --error: #833642;
}

@theme inline {
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --color-color1: var(--color1);
    --color-color2: var(--color2);
    --color-error: var(--error);
}

body {
    background-color: var(--background);
    overflow: hidden;
    user-select: none;
}
input {
    user-select: auto;
}

button {
    cursor: pointer;
}

.anim-accuracy-tick {
    animation: accuracy-tick 1s ease-out forwards;
}
@keyframes accuracy-tick {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.cover {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.seek-bar-tick {
    position: absolute;
    width: 3px;
    height: 20px;
    border-radius: 999px;
    top: 50%;
    translate: -50% -50%;
}

.inspector-tick {
    position: absolute;
    width: 3px;
    border-radius: 999px;
    bottom: 0;
    translate: -50% 0;
}

.anim-fade-out {
    animation: fade-out 1.2s ease-out forwards;
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 99999px;
    background: var(--color-foreground);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--color-color1);
}
